:root {
  --background: #1e0528;
  --link: #9664e6;
  --text: #e1cde1;
  --title: #fff096;
}
* { padding: 0; margin: 0; }
body {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--background);
}
#content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
	gap: 2%;
	padding-bottom: 5%;
}

.label {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.avatar img {
	width: 250px;
	height: 250px;
	box-shadow:  0 0 25px #FCF572;
}
.label h1 {
	color: var(--title);
	text-align: center;
}
.label p {
	padding: 5px;
	width: 500px;
	color: var(--text);
	text-align: center;
}


/* games styles */
.game {
	width: 400px;
	display: flex;
	flex-direction: column;
	background: var(--background);
}
.game .banner .screenshots { display: none; }
.game .banner {
	z-index: 1;
	width: 100%;
	height: 250px;
}
.game .banner img {
	width:  100%;
	height: 100%;
}
.game .info {
	box-shadow:  0 0 15px #FCF572;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.game .info img { width:  25%; }
.game a { text-decoration: none; }
.game .info h1 {
	color: var(--title);
	margin-left: 5%;
}
/* player */
#gameframe {
	width: 100%;
	outline: none;
	border: 0;
}
div.info {
	display: inline-flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
div.info .title {
	color: var(--title);
}
div.info .description {
	color: var(--text);
	background: #070013;
	padding: 10px;
}
