:root {
  --background: #1e0528;
  --link: #9664e6;
  --text: #e1cde1;
  --title: #fff096;
  --bold: #fff0ff;
  --subtext: #3c285a;
  --select: #ff8c64;
  --gap: 25px;
  --font: Consolas;
  --avatar: 256px;
}
b { color: var(--bold); }
* { padding: 0; margin: 0; }
body {
	display: inline-flex;
	align-items: center;
  justify-content: space-around;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--background);
}

header {
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.avatar {
	width: var(--avatar);
	height: var(--avatar);
  border: 2px solid var(--link);
}
.title, .link { text-transform: uppercase; }
.title {
  font: bold 2em var(--font);
  color: var(--title);
  cursor: default;
}
.link {
  font: bold 1.25em var(--font);
  color: var(--link);
}
.link:hover { color: var(--select); }
p {
  color: var(--text);
  text-align: justify;
  font: 1.25em var(--font);
  cursor: default;
}
header p { width: 50%; }

ul.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: var(--gap);
}
footer {
  color: var(--subtext);
  font: 1em Consolas;
  font-weight: bold;
}
