body {
  justify-content: start !important;
}
ul.content {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  gap: var(--gap);
  justify-content: center;
  margin: 2%;
}
ul.content li {
  display: flex;
  align-items: center;
  width: 40%;
  cursor: pointer;
  overflow: hidden;
}
.gallery {
  width: 100%;
  transition: all .25s ease;
}
.gallery:hover { transform: scale(1.25); }

#preview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#preview .shadow {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: .9;
  cursor: pointer;
  transition: opacity .25s ease;
}
#preview .shadow:hover { opacity: .75; }

#preview img {
  max-width: 90%;
  height: 90%;
  z-index: 1;
  box-shadow: 0 0 50px #fff0ff15;
}
