div.art {
  width: 45%;
  box-sizing: border-box;
}
div.art div.art-banner {
  width: 100%;
  position: relative;
}

div.art-banner img.banner {
  width: 100%;
  height: 100%;
  box-shadow: var(--frame-shadow);
}
div.art h1 { font-size: 1.5em; }
div.art h1 a.link {
  text-decoration: none;
  text-shadow: 0 0 5px #1e0528;
}

div.grid.arts-small div.art {
  width: 25%;
}