* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	background: #fff0ff;
}

.block, header {
	display: flex;
	width: 100vw;
	height: 100vh;

	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5%;
}

.block.preview { background: #6eb4ff; }
.block.features { background: #78e6b4; }
.block.roadmap { background: #ff8c64; }

footer {
	width: 100vw;
	text-align: center;	
}
footer p {
	padding: 1%;
}

header p {
	display: block;
	padding: 10%;
	font-size: 2em;
}
header h1 {
	font-size: 5em;
}

iframe {
	border: none;
	width: 50%;
	aspect-ratio: 16/9;
}

.block.preview ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 5%;
}