header {
	height: 100vh;
	background: url('../img/parallax.gif');
	background-repeat: repeat;

	.parallax {
		position: absolute;		
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		&__left, &__avatar {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
		}
		&__bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10%;
			background: url('../img/bottomBorder.png');
			background-repeat: repeat-x;
			background-size: contain;
		}
	}
}

@import './profile.scss';