// цвета:
$black: #1e0528;
$white: #fff0ff;
$link: #6eb4ff;
$darkgreen: #3c5564;

@import './header.scss';
@import './link.scss';
@import './games.scss';

* {
	padding: 0;
	margin: 0;
}

body {
	background: $black;
	overflow-x: hidden;
}